*{
    margin: 0;
    padding: 0;
}

.button {
    background-color: darkgreen;
    border: white;
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    height: 60px;
}

.button:hover {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px olivedrab;
}

.header{
    background-color: darkgreen;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.box{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    width: 25%;
    background-color: lightgray;
    padding: 10px;
}

.clear-box{
    display: flex;
    flex-direction: column;
}

.display-container{
    width: 100%;
    border-radius: 25px;
    background-color: lightgray;
    padding: 10px;
}

.laptop-info-container{
    display: flex;
    align-content: center;
    justify-content: center;
}

#sel-laptops{
    margin-block: 10px;
}

#li-features{
    margin-left: 15px;
}

#img-laptop{
    height: 100px;
}

#p-price{
    font-weight: 900;
}